# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
user/data/*

#user updated content
.profile
.htaccess
user/pages/*
user/config/*
vendor/composer/*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp