# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
user/data/*

#user updated content
.profile
.htaccess
user/pages/02.work/
user/pages/03. news/
user/pages/04.about/

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp