
html { overflow-y: scroll; }

@font-face {
    font-family: 'gt_haptikmedium';
    src: url('../fonts/gt-haptik-medium-webfont.woff2') format('woff2'),
         url('../fonts/gt-haptik-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body h1, h2, h3, h4, h5, h6, p, a, blockquote, li{
	font-family: gt_haptikmedium, Helvetica, Arial, sans-serif;

}

p {
	line-height: 1.8;
}

ul {
		list-style-type: none;
}

.teammember li {
	font-size: 1.2rem;
	margin-left:none;
}

.teammember ul{
	margin: 0px;
}

h1 {
	font-size: 72px;
}

h3 {
	line-height: 1.5;
}

blockquote{
	font-size: 24px;
}

form {
	max-width: 800px;
	margin-left: auto;
	margin-right:auto;
}
#grid {
	margin-left:80px;
	-webkit-transition: opacity ease-in-out .25s; /* Safari */
    transition: opacity .25s;
}

#grid:hover .grid-item {
	opacity: .25;
	-webkit-transition: opacity ease-in-out .25s; /* Safari */
    transition: opacity .25s;
}

#grid .grid-item:hover {
	opacity:1;
	-webkit-transition: opacity ease-in-out .25s; /* Safari */
    transition: opacity .25s;
    z-index: 99;
}

.grid-item { 
	position: absolute; 
	z-index:1;
	margin-bottom: 20px;
	-webkit-transition: opacity ease-in-out .25s; /* Safari */
    transition: opacity .25s;

}	


.grid-item img{
	opacity:1;
	width :100%;
	-webkit-transition: opacity ease-in-out .25s; /* Safari */
    transition: opacity .25s;
}


/* .gridoverlay {
	position:absolute;
	opacity:0;	
	background-color: #000;
	width:100%;
	height:100%;
	z-index:10;
	opacity: 1;
}

.grid-item:hover .gridoverlay{
	opacity: .4;	
}


.grid-item:hover img{
	opacity: .4;
	
	-webkit-transition: opacity ease-in-out .25s; 
    transition: opacity .25s;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);

}

*/

.grid-item:hover a{
	opacity:1;
	cursor: pointer;
	-webkit-transition: opacity .25s ease-in-out; /* Safari */
    transition: opacity ease-in-out .25s;
    transition-delay: .15s;
}

#tag {
	display:block;
	height:1px;
	width:1px;
	position:absolute;
	top:600px;
}


a.title{
	display:inline-block;
	position: absolute;
	color: #000;
  	text-align: center;
  	text-decoration: underline;
  	opacity:0;
 	z-index: 99;
 	-webkit-transition: opacity .25s ease-in-out; /* Safari */
    transition: opacity ease-in-out .25s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.insta a{
	display: block;
	opacity: 1 !important;
	top: 0%;
    left: 0%;
    transform: translate( 0%, 0%);	
}

.one-columnimages{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.container.grid-xl {
	max-width: 95%;
	margin-left:70px;
}

#projpcontainer {
	display: flex;
	max-width:1600px;
}

#projpleft {
	width:100%;
}

#projpright {
	width:600px;
	height: fit-content;
	padding-left:50px;

	padding-top:0px;
	margin-bottom:20px;
}

#projpright h2{
	margin-top:none;
}

#relatedcontainer ul li {
    margin-left: -40px;
}

#relatedcontainer li a {
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
 	width:170px;
}

#projpleft img{
	min-width:100%;

}

.textcolor {
	font-family: gt_haptikmedium, Helvetica, Arial, sans-serif;
	color:#ff8c00;
}

.teamcontainer {
	display:flex;
}

.teammember {
	width: 50%;
	padding-right:40px;
}

.teammember h4{
	margin-top:0px;
}

.fullwidthimg {
	width:100%;
	margin-bottom:40px;
}

.homeimg {
	position: fixed;
    margin-left: -20%;
    margin-top: -30%;
    max-width:none;
}

@keyframes homepage{
	from {margin-left:-300%;}
	to {margin-left:0%;}
}

#homebackground{
	position:fixed;
	top:0px;
	left:0px;
	width:600%;
	height:100%;
	background: linear-gradient(-90deg, #f39550, #e7574d, #f39550, #e7574d, #f39550);
	z-index: -1;
	margin-left:-300%;
	animation-duration: 6s;
	animation-name: homepage;
	animation-direction:forward;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.homecontent{
	z-index:100;
}


/*.projtitle a{
	position: absolute;
	color: #000;
  	top:0px;
  	padding-top: 35%;
  	height: 100%;
  	width: 100%;
  	left: 0px;
  	padding-bottom: 10px;
  	text-align: center;
  	font-size: 46px;
  	text-decoration: underline;
  	line-height: 56px;
  	opacity:0;
 	 z-index: 99;
}
*/

.hideme{
    opacity: 0;
    -webkit-transition: all .75s ease; transition: all .75s ease;
   	margin-top: 15px;
}

.hideme:first-child{
	opacity:1;
}

.hideme:nth-child(2){
	opacity:1;
}

.showme {
  opacity:1!important;
  margin-top:0px;
}


.small {
	width:300px;
	font-size: 46px;
}

.small img{
	width: 100%;
	height:100%;
}

.small a{
	line-height:50px;
    display: inline-block;
    vertical-align: middle;
}

.large {
	width:600px;
	font-size: 46px;
}

.large a{
	line-height:50px;
    display: inline-block;
    vertical-align: middle;
}

.large img{
	width: 100%;
	height:100%;
}


#writingcontainer{
	width:60%;
	margin-left:20%;
}

#sidebar {
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    width: 100%;
    text-align: center;
    z-index:101;
}

.navbar {
	z-index: 10;
}

@keyframes lineani{
	from {transform: rotate(1deg) translate(-50%, -50%);}
	to {transform: rotate(-1deg) translate(-50%, -50%);}
}


.logo svg{
	left: 30px;
    top: 80px;
    position: absolute;
    transform: rotate(270deg);
}

#mast img{
	width:70%;
	margin-top:15%;
	margin-left:15%;
	margin-bottom:20%
}


#line {
	position: fixed;
	height:100%;
	width:100%;
	top: 50%;
    left: 50%;
    transform: rotate(1deg) translate(-50%, -50%);
    
    animation-name: lineani;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.other {
	position:absolute;
	opacity:0;
	top:-10000;
	left: 10000;
}

.mobile-menu {
	top: 40px;
    right: 20px;
}

.mobile-menu .button_container.active{
	top: 54px;
    right: 42px;
}

.mobile-logo svg {
    max-width: 81px;
    margin-top: 32px;
    margin-left: 46px;
}

#about {
	max-width:1000px;
	margin-left:30px;
}


@media only screen and (max-width:1300px) {

.large {
		width:300px;
	}
}


@media only screen and (max-width:1100px) {

#projpcontainer {
		display: block;
	}

#projpright {
	padding-left:0px;
	width:100%;
}

.large {
		width:200px;
	}

.small {
	width:200px;
	}

}


@media only screen and (max-width: 800px) {

	.container.grid-xl {
	max-width: 90%;
	margin-left:10px;

}

	.projtitle a{
		opacity:1;
		text-align:none;
		position:relative;
		font-size: 36px;
	}

	#writingcontainer{
	width:100%;
	margin-left:0%;
	}

	#projpcontainer {
		display: block;
	}

	.grid{
		margin: 0px;
	}

	.large {
		width:100%;
	}

	.small {
		width:100%;
	}

	.teamcontainer {
		display:block;
	}

	.teammember {
		width: 100%;
	}

@media only screen and (max-width: 600px) {

	#body-wrapper .container{
		padding: 10px;
	}

	.container.grid-xl {
	max-width: 90%;
	margin-left:10px;

	}

	#line {
		display:none;
	}

	#sidebar{
		display:none;
	}

	#about{
		margin:none;
	}

	

