// Labels
.label {
  @include label-base();
  @include label-variant(lighten($body-font-color, 5%), $bg-color-dark);
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding: 1.4rem; 
    -webkit-transition: all .15s ease-in-out; /* Safari */
    transition: all ease-in-out .15s;
    margin-right:-12px;
    margin-left: 0px;
    margin-top:0px;
  }

  &:hover{
    padding: 2rem;
      -webkit-transition: all .15s ease-in-out; /* Safari */
    transition: all ease-in-out .25s;
    margin-right: -24px;
    margin-left: -12px;
    margin-top: -12px;
  }

  // Label colors
  &.label-primary {
    @include label-variant($light-color, $primary-color);
  }

  &.label-secondary {
    @include label-variant($primary-color, $secondary-color);
  }

  &.label-success {
    @include label-variant($light-color, $success-color);
  }

  &.label-warning {
    @include label-variant($light-color, $warning-color);
  }

  &.label-error {
    @include label-variant($light-color, $error-color);
  }
}
