{% extends 'partials/base.html.twig' %}

{% block content %}
	
    <div class="homecontent">
	<!--{{ instagram_feed() }}-->
    {{ page.content }}
    </div>
    <div id="homebackground">
    </div>
   {% endblock %}
